
<p>
  <b>Author:</b>
  <%= comment.commenter %>
</p>

<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to image_tag("delete.png", class: 'logo'), [comment.article, comment], method: :delete, data: { confirm: 'Are you sure?'}%>
</p>
