.logo {
  height: 20px;
}

h1 {
  color: #F9EADB;
  text-align: center;
}

.center_panel{
  margin: 0 auto;
  font-size: 20px;
  line-height: 10vh;
}

.index_link{
  color: #f7dfc8;
  text-decoration: none;
}

.index_link:hover{
  text-shadow: 2px 2px black;
}

.article_title{
  max-width: 25vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul{
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

ul li{
  display: inline-block;
  margin: 0 1vw 0 1vw;
}
.nav_link{
  text-decoration: none;
  color: #f7dfc8;
}
