.logo {
  height: 20px;
}

h1 {
  color: #F9EADB;
  text-align: center;
}

.center_panel{
  margin: 0 auto;
  font-size: 20px;
  line-height: 10vh;
}

.index_link{
  color: #f7dfc8;
  text-decoration: none;
}

.index_link:hover{
  text-shadow: 2px 2px black;
  transition-duration: 0.8s;
}

.article_title{
  max-width: 60vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul{
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 0;
}

ul li{
  display: inline-block;
  margin: 0 1vw 0 1vw;
}

.title_focus{
  text-align: left;
  border-style: groove;
  border-radius: 5px;
  padding: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  margin: 0 auto;
  width: 85vw;
}

.input{
  border-radius: 4px;
  background-color: #f7dfc8;
}
.body_input{
  max-height: 30vh;
  max-width: 80vw;
}
.form_container {
  margin: 0 auto;
  text-align: center;
}
